/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #f1b2ce;

  --banner-main-color: #db00ff;
  --banner-shadow-color: #ff0070;

  --section-title-color: #ff0070;
  --subsection-title-background: #ff0070;
  --subsection-title-color: #000028;

  --link-shadow-color: #ff0070;

  --decoration-color: #ff0070;

  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__recorder {
  display: inline;
}
