/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #353430;

  --banner-main-color: #ffc2e6;
  --banner-shadow-color: #ff0070;

  --section-title-color: #353430;
  --subsection-title-background: #ff8dcb;
  --subsection-title-color: #353430;

  --decoration-color: #353430;

  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__recorder {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;

    --banner-main-color: #ffc2e6;
    --banner-shadow-color: #ff0070;

    --section-title-color: #353430;
    --subsection-title-background: #ff8dcb;
    --subsection-title-color: #353430;

    --decoration-color: #353430;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__recorder {
    display: none;
  }
}
