/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-color: #f1b2ce;

  --banner-main-color: #db00ff;
  --banner-shadow-color: #ff0070;

  --section-title-color: #ff0070;
  --subsection-title-background: #ff0070;
  --subsection-title-color: #000028;

  --link-shadow-color: #ff0070;

  --decoration-color: #ff0070;

  --breakpoint-s: 375px;
  --breakpoint-m: 768px;
  --breakpoint-l: 1024px;
  --s-m-diff: 393; /*768px - 375px*/
}
